<!DOCTYPE html>
<html lang="en">
{% include 'header/data_entry_header.html' %}
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<body id="page-top">

    <!-- Page Wrapper -->

    <!-- End of Sidebar -->

    <!-- Content Row -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Course Details </h1>
            <!-- <button id="export" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-download fa-sm text-white-50"></i> Generate Report</button> -->
            <!--                    <a  class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm export-btn" style="color: white;"><i-->
            <!--                        class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>-->
        </div>

        <div class="d-sm-flex align-items-start justify-content-md-around mb-4">
            <h3 class="h5 mb-0 text-gray-800">Course Name : {{cn}} </h3><br>
            <h3 class="h5 mb-0 text-gray-800">Course Code : {{cc}} </h3><br>
            <h3 class="h5 mb-0 text-gray-800">Semester : {{sem}} </h3>
        </div>
        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Total Entries</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{count[0]+count[1]+count[2]}}</div>
                            </div>
                            <div class="col-auto">

                                <i class="fas fa-calculator fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Accepted Entries</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{count[0]}}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-check fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Pending Entries</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{count[1]}}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clock-o fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Rejected Entries
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{count[2]}}</div>
                                    </div>
                                    <div class="col">

                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-close fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pending Requests Card Example -->

        </div>
    </div>

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->


        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6>

                    <div class="my-2" style="float:right;">
                        <BUTTON href="#" class="btn btn-primary btn-icon-split" data-toggle="modal"
                            data-target="#add_data_Modal">
                            <span class="icon text-white-50">
                                <i class="fas fa-check"></i>
                            </span>
                            <span class="text">Add</span>
                        </button>
                    </div>
                </h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <form method="post" action="/data_entry/course/update">

                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                            <thead>
                                <tr>
                                    <th>Entry Id</th>
                                    <th>Unit</th>
                                    <th>Lesson Plan</th>
                                    <th>Lesson Material</th>
                                    <th>Lecture Video</th>
                                    <th>Discussion Question</th>
                                    <th>Discourse Link</th>
                                    <th>Status</th>
                                    <th>Remarks</th>
                                    <th>Negative FRS</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for row in course %}
                                <tr>

                                    <td>{{row.course_id}}</td>
                                    <td>{{row.subject_name}}</td>
                                    <!--                                    <td>-->
                                    <!--                                        {% if row.course_approval_status == "approved" %}-->
                                    <!--                                        <a style="text-decoration: none;" href="/data_entry/session?session_id={{row.course_id}}">{{row.course_name}}</a>-->
                                    <!--                                        {% endif %}-->
                                    <!--                                        {% if row.course_approval_status == "decline"%}-->
                                    <!--                                        {{row.course_name}}-->
                                    <!--                                        {% endif %}-->
                                    <!--</td>-->
                                    <!--                                    <a href="{{row.course_name}}" >{{row.course_name[0:]}}</a>-->
                                    <!--<iframe src="{{row.course_name}}" title="W3Schools Free Online Web Tutorials"></iframe>-->
                                    <td><a href="{{row.course_grade}}" target="_blank">LP{{row.l_name}}</a></td>

                                    <td> <a href="{{row.course_name}}" target="_blank">LM{{row.l_name}}</a> </td>
                                    <td> <a href=" {{row.course_description}}" target="_blank"> LV{{row.l_name}}</a>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary" type="button" data-toggle="collapse"
                                            data-target="#collapseExample1{{loop.index}}" aria-expanded="false"
                                            aria-controls="collapseExample">View DQ{{row.l_name}}</button>
                                        <div class="collapse" id="collapseExample1{{loop.index}}">
                                            <div class="card card-body">
                                                <pre style="font-size:17px;"
                                                    class="font-weight-normal">{{row.course_duration}}</pre>
                                            </div>
                                        </div>

                                    </td>

                                    <td><a href="{{row.no_of_session}}" target="_blank"> DL{{row.l_name}}</a></td>
                                    {% if row.course_status == "pending" %}
                                    <td><span class="badge badge-warning">{{row.course_status}}</span></td>
                                    {% elif row.course_status == "approved" %}
                                    <td><span class="badge badge-success">{{row.course_status}}</span></td>
                                    {% elif row.course_status == "rejected" %}
                                    <td><span class="badge badge-danger">{{row.course_status}}</span></td>
                                    {% endif %}
                                    <td>
                                        <button class="btn btn-primary" type="button" data-toggle="collapse"
                                            data-target="#collapseExample2{{loop.index}}" aria-expanded="false"
                                            aria-controls="collapseExample">View </button>
                                        <div class="collapse" id="collapseExample2{{loop.index}}"
                                            style="width:max-content">
                                            <div class="card card-body">
                                                <p style="font-size:17px;" class="font-weight-normal">
                                                    {{row.course_enroll_status}}</p>
                                            </div>
                                        </div>

                                    </td>
                                    <td>{{row.nfrs}}</td>


                                </tr>
                                {% endfor %}

                            </tbody>

                        </table>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->



    </div>
    <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>



    <!-- Add Modal-->
    <div id="add_data_Modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Insert Course</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>

                </div>
                <div class="modal-body">
                    <form method="post" id="insert_form" enctype="multipart/form-data">
                        <label>Select Unit</label>
                        <!-- <input type="text" name="sname" id="name" class="form-control" /> -->
                        <select name="subjectid" id="status" class="form-control">
                            {% for rows in subject %}
                            <option value="{{rows.subject_id}}">{{rows.subject_name}}</option>
                            {% endfor %}

                        </select>
                        <br />
                        <label>Select LP </label>
                        <!-- <input type="text" name="sname" id="name" class="form-control" /> -->
                        <select name="ln" id="ln" class="form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <br />

                        <label>Enter Lesson Plan (Drive Link)</label>
                        <input type="text" name="grade" id="lp" class="form-control" />

                        <br />
                        <div class="mb-3">

                        <label class="form-label">Enter Lecture Material (Drive Link)</label>
                        <input type="text" name="lm" id="lm" class="form-control"/>

                        </div>
                        <input type="hidden" name="course" value="{{cc}}">
                        <label>Enter Discussion Questions</label>
                        <textarea style="height:100px" type="text" name="duration" class="form-control"></textarea>
                        <br />

                        <label>Enter Discourse Link</label>
                        <input type="text" name="session" id="name" class="form-control" />
                        <br />

                        <!-- <label>Status</label> 
                            <select name="status" id="status" class="form-control">
								<option value="Opened">Opened</option>
								<option value="closed">Closed</option>
							</select></td> 
     <br /> -->

                        <label>Enter Video Link</label>
                        <input type="text" name="coursedes" id="lv" class="form-control" />
                        <br />
                        <input type="file" name="file">

                        <input type="hidden" class="form-control" name="test1" id="test1"></input>


                        <div class="modal-footer">
                            <input type="submit" name="insert" id="insert" value="Insert" class="btn btn-success" />
                            <button type="button" class="btn btn-default" onclick="fieldclear('insert_form')"
                                data-dismiss="modal">Close</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>



        <!--Update table modal-->

        <div id="dataModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Course Details</h4>
                        <button type="button" class="close" data-dismiss="modal">×</button>

                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <form method="post" id="update_form">
                                <table class="table table-bordered">
                                    <input type="hidden" class="form-control" id="course_id" name="course_id">
                                    <tr>
                                        <td width="30%"><label>Subject Name</label></td>
                                        <td width="70%"><input type="text" class="form-control" id="subject_name"
                                                disabled></td>
                                    </tr>
                                    <tr>
                                        <td width="30%"><label>Course Name</label></td>
                                        <td width="70%"><input type="text" class="form-control" name="course_name"
                                                id="course_name"></td>
                                    </tr>
                                    <tr>
                                        <td width="30%"><label>Course Grade</label></td>
                                        <td width="70%"><input type="number" class="form-control" id="course_grade"
                                                disabled></td>
                                    </tr>
                                    <tr>
                                        <td width="30%"><label>Course Duration</label></td>
                                        <td width="70%"><input type="number" class="form-control" name="course_duration"
                                                id="course_duration">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="30%"><label>No of Sessions</label></td>
                                        <td width="70%"><input type="number" class="form-control" name="no_of_session"
                                                id="no_of_session"></td>
                                    </tr>
                                    <tr>
                                        <td width="30%"><label>Course Status</label></td>
                                        <td width="70%">
                                            <span id="coursenot" style="display: block;"
                                                class="badge badge-danger">Course is Not Approved or closed</span>
                                            <span id="courseyes" style="display: block;"
                                                class="badge badge-success">Course completed</span>

                                            <select name="status" style="visibility: visible;" id="mySelect"
                                                class="form-control">
                                                <option value="open">Opened</option>
                                                <option value="close">Closed</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="30%"><label>Course Description</label></td>
                                        <td width="70%"><textarea type="text" class="form-control"
                                                name="course_description" id="course_description"></textarea>
                                        </td>
                                    </tr>
                                    <tr hidden>
                                        <td hidden width="30%">
                                            <!-- <label>test ..!</label> -->
                                        </td>
                                        <td hidden width="70%"><input type="hidden" class="form-control" name="test"
                                                id="test"></input>
                                        </td>
                                        <!--                                    <textarea id="demo"></textarea>-->
                                    </tr hidden>
                                </table>
                                <div class="modal-footer">
                                    <input type="submit" name="update" id="update" value="Update"
                                        class="btn btn-success" />
                                    <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                            </form>
                        </div>

                    </div>
                </div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}

                <script>
                    swal("{{message}}", "Course Deleted Successfully !", "success");
                </script>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <script type="text/javascript" src="https://cdn.ckeditor.com/4.5.11/standard/ckeditor.js"></script>
                <script>
                    $(document).ready(function () {
                        $('#insert_form').on("submit", function (event) {
                            event.preventDefault();

                            $.ajax({
                                url: "/data_entry/course",
                                method: "POST",
                                data: $('#insert_form').serialize(),
                                beforeSend: function () {
                                    $('#insert').val("Inserting");
                                },
                                success: function (data) {
                                    $('#add_data_Modal').modal('hide').trigger('reset');
                                    if (data == 'success') {
                                        swal("Data is submitted successfully!",
                                            "New Course is Created", "success");

                                        var delayInMilliseconds = 6500; //1 second

                                        setTimeout(function () {
                                            window.location.reload();
                                        }, delayInMilliseconds);

                                    }
                                    if (data == 'error') {
                                        console.log('error')
                                        swal("Data is not Submitted!",
                                            "Error in submitting Data",
                                            "error");
                                        var delayInMilliseconds = 6500; //1 second
                                        setTimeout(function () {
                                            window.location.reload();
                                        }, delayInMilliseconds);

                                    }
                                    if (data == 'error_duplicate') {
                                        console.log('error_duplicate')
                                        swal("Duplicate entry or an unscheduled course!",
                                            "Submit a different possibility",
                                            "error");
                                        var delayInMilliseconds = 6500; //1 second
                                        setTimeout(function () {
                                            window.location.reload();
                                        }, delayInMilliseconds);

                                    }
                                }
                            });

                        });

                        $('#update_form').on("submit", function (event) {
                            event.preventDefault();

                            $.ajax({
                                url: "/data_entry/course/change",
                                method: "POST",
                                data: $('#update_form').serialize(),
                                beforeSend: function () {
                                    $('#update').val("Updating");
                                },
                                success: function (data) {
                                    $('#add_data_Modal').modal('hide').trigger('reset');
                                    if (data == 'success') {
                                        console.log('success')
                                        window.location.reload();
                                    }
                                }
                            });

                        });

                        var editor;
                        $(document).on('click', '.view_data', function () {
                            var course_id = $(this).attr("id");
                            $.ajax({
                                url: "/data_entry/course/select",
                                method: "POST",
                                data: {
                                    course_id: course_id
                                },
                                success: function (data) {
                                    $('#dataModal').modal('show');
                                    var data_rs = JSON.parse(data);
                                    $('#course_id').val(data_rs[0]['course_id']);

                                    $('#subject_name').val(data_rs[0]['subject_name']);
                                    $('#course_name').val(data_rs[0]['course_name']);
                                    $('#course_grade').val(data_rs[0]['course_grade']);
                                    $('#course_duration').val(data_rs[0]['course_duration']);
                                    $('#no_of_session').val(data_rs[0]['no_of_session']);

                                    if (data_rs[0]['approval_status'] == "approved" && data_rs[0]['status'] == "open") {
                                        console.log(data_rs[0]['approval_status'])

                                        document.getElementById("mySelect").style.visibility = "visible";
                                        document.getElementById("mySelect").value = data_rs[0]['status'];
                                        document.getElementById("coursenot").style.display = "none";
                                        document.getElementById("courseyes").style.display = "none";


                                    }
                                    else if (data_rs[0]['approval_status'] == "approved" && data_rs[0]['status'] == "close") {
                                        console.log(data_rs[0]['approval_status'])

                                        document.getElementById("mySelect").style.visibility = "hidden";
                                        document.getElementById("courseyes").style.display = "block";
                                        document.getElementById("coursenot").style.display = "none";


                                    }
                                    else {
                                        console.log(data_rs[0]['approval_status'])

                                        document.getElementById("mySelect").style.visibility = "hidden";
                                        document.getElementById("coursenot").style.display = "block";
                                        document.getElementById("courseyes").style.display = "none";

                                    }


                                    // $('#status').val(data_rs[0]['status']);
                                    $('#course_description').val(data_rs[0]['course_description']);
                                    editor = CKEDITOR.replace('course_description');
                                    editor.setData($('#course_description').val());
                                    editor.on('change', function (edittor) {

                                        $('#test').val(edittor.editor.getData());
                                    });

                                }
                            });
                        });
                        $('#dataModal').on('hide.bs.modal', function () {
                            editor.destroy()
                        });
                    });

                </script>

                <script>
                    const toCsv = function (table) {
                        // Query all rows
                        const rows = table.querySelectorAll('tr');

                        return [].slice.call(rows)
                            .map(function (row) {
                                // Query all cells
                                const cells = row.querySelectorAll('th,td');
                                return [].slice.call(cells)
                                    .map(function (cell) {
                                        return cell.textContent;
                                    })
                                    .join(',');
                            })
                            .join('\n');
                    };
                    const download = function (text, fileName) {
                        const link = document.createElement('a');
                        link.setAttribute('href', `data:text/csv;charset=utf-8,${encodeURIComponent(text)}`);
                        link.setAttribute('download', fileName);

                        link.style.display = 'none';
                        document.body.appendChild(link);

                        link.click();

                        document.body.removeChild(link);
                    };
                    const table = document.getElementById('dataTable');
                    const exportBtn = document.getElementById('export');

                    exportBtn.addEventListener('click', function () {
                        // Export to csv
                        const csv = toCsv(table);

                        // Download it
                        download(csv, 'download.csv');
                    });
                </script>

                <script>
                    var edit = CKEDITOR.replace('address');

                    edit.on('change', function (evt) {
                        // console.log(evt.editor.getData());
                        $('#test1').val(evt.editor.getData());
                    });
                </script>


                <script
                    src="https://gitcdn.xyz/repo/FuriosoJack/TableHTMLExport/v1.0.0/src/tableHTMLExport.js"></script>


                <script>

                    $(document).ready(function () {
                        $(".export-btn").click(function () {
                            $("#dataTable").tableHTMLExport({

                                type: 'csv',
                                filename: 'Course.csv',
                                ignoreColumns: '.action',
                            });
                        });
                    });
                </script>
                <script>
                    $('#add_data_Modal').on('hidden.bs.modal', function () {
                        $(this).find('insert_form').trigger('reset');
                        console.log("hi");
                    })
                </script>
</body>

</html>