<!DOCTYPE html>
<html lang="en">
{% include 'header/analytics_header.html' %}

<style>
  .text_blue {
    color: #4e73df;
  }

  .text_blue:hover {
    color: #2a4db3;
    text-decoration: underline;
  }

  #check1,
  #check2,
  #check3,
  #check4,
  #check5 {
    scale: 2;
    margin: 5px 10px 0px 0px;
    float: right;
    vertical-align: middle;

  }

  #check5 {
    vertical-align: middle;
  }

  #check1:hover,
  #check2:hover,
  #check3:hover,
  #check4:hover,
  #check5:hover {
    cursor: pointer;
  }
</style>


<body id="page-top">

  <!-- Page Wrapper -->

  <!-- End of Sidebar -->



  <!-- Begin Page Content -->
  <div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Entry Approval </h1>
    <h3 class="mb-4">
      {%if course and dept%}
      <span style="margin-left:3%">Subject : {{dept[0].course_name}} </span> <span style="margin-left:18%">Course Code :
        {{course[0].course_code}} </span>
      {%else%}
      <span> </span>
      {%endif%}
    </h3>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">

          <div class="my-2" style="float:right;">
            <h6>
              <span class="icon text-white-50">
                <i class="fas fa-check"></i>
              </span>
              <span class="text"></span>
            </h6>
          </div>
        </h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">

          <form method="post">
            <table class="table table-bordered" width="100%" cellspacing="0" data-show-export="true" id="subject"
              data-pagination="True" data-show-filter-control-switch="true" data-click-to-select="true"
              data-toggle="Table" data-filter-control="true">

              <thead>
                <tr>

                  <th data-field="id" class="col-sm-0.5">Entry Id</th>
                  <th data-field="fid" class="col-sm-0.5">Faculty Id</th>
                  <th data-field="unit" class="col-sm-0.5">Unit</th>
                  <th data-field="grade" class="col-sm-1">Lesson Plan</th>
                  <th data-field="age" class="col-sm-1">Lecture Material</th>
                  <th data-field="lv" class="col-sm-1">Lecture Video</th>
                  <th data-field="sess">Discourse Link</th>
                  <th data-field="dur">Discussion Question</th>

                  <!--            <th data-field="approval_status" data-sortable="True" >Approval Status</th>-->
                  <th data-field="remarks">Additional Remarks</th>


                  <!--&lt;!&ndash;            <th data-field="desc"  id="" data-sortable="True" >Course Description</th>&ndash;&gt;-->
                  <th data-field="action">Action</th>
                  <!--            <th data-field="link" data-sortable="True" >session</th>-->
                  <!--            <th data-field="attd" data-sortable="True" >Attendance Analysis</th>-->




                </tr>

              </thead>

            </table>
          </form>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container-fluid -->

  </div>
  <!-- End of Main Content -->



  </div>
  <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Remarks</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <textarea style='height: 120px;' type='text' name='remarks' id="re" class='form-control'></textarea>
        </div>
        <div class="modal-footer">
          <button type="submit" name="update" id="update" class="btn btn-success">Close</button>
          <button type="button" class="btn btn-default" onclick="fieldclear('update_form')" data-dismiss="modal">Save
            changes</button>
        </div>
      </div>
    </div>
  </div>




  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
  <script
    src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
  <script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>


  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/editable/bootstrap-table-editable.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/export/bootstrap-table-export.js"></script>
  <script src="https://rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/export/bootstrap-table-export.js"></script>
  <script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script type="text/javascript" src="https://cdn.ckeditor.com/4.5.11/standard/ckeditor.js"></script>

  <script>
    var remarks = "";
    function saveRemarks() {
      remarks = document.getElementById('re').value;
      console.log(remarks);
    }

    var data = [

      {% for row in course %}

    {

      "id": "<input type='hidden' name='id{{loop.index}}' value='{{row.course_id}}' checked> <input type='hidden' name='cid{{loop.index}}' value='{{row.course_code}}' checked><input type='hidden' name='admin{{loop.index}}' value='{{row.admin_id}}' checked>{{row.course_id}}",
        "fid": "<input type='hidden' name='l{{loop.index}}' value='{{row.l_name}}{{row.subject_id}}{{row.admin_id}}'>{{row.admin_id}}",

          <!--        "city": "{{row.course_code}}",-->
          "unit": "U{{row.subject_id}}",
           "age": `<a type="button" data-toggle="modal"
                            data-target="#lmmodal{{row.course_id}}">
                            <span class="text_blue">LM{{row.l_name}}</span>
                        </a>
                        <div class="modal fade" id="lmmodal{{row.course_id}}" tabindex="-1" role="dialog" aria-labelledby="lmmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document" >
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Unit {{row.subject_id}} - Lesson Material {{row.l_name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <iframe  src="../../{{row.course_name}}" title="Lecture material" width="100%" height="700" allow="autoplay" ></iframe>
      </div>
    </div>
  </div>
</div>
                        <input class='custom-input ' type='checkbox' id='check1' name='option1{{loop.index}}' value='10' >`,
"grade": `<a type="button" data-toggle="modal"
                            data-target="#lpmodal{{row.course_id}}">
                            <span class="text_blue">LP{{row.l_name}}</span>
                        </a>
                        <div class="modal fade" id="lpmodal{{row.course_id}}" tabindex="-1" role="dialog" aria-labelledby="lpmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document" >
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Unit {{row.subject_id}} - Lesson Plan {{row.l_name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <iframe  src="../../{{row.course_grade}}" title="Lecture material" width="100%" height="700" allow="autoplay" ></iframe>
      </div>
    </div>
  </div>
</div>
                       <input class='custom-input' type='checkbox' id='check2' name='option2{{loop.index}}' value='10' >`,

<!--          "grade": "<a href='{{row.course_grade}}' target='_blank' > LP{{row.l_name}}</a><input class='custom-input' type='checkbox' id='check2' name='option2{{loop.index}}' value='10' >",-->
        "lv": `<a type="button" data-toggle="modal"
                            data-target="#lvmodal{{row.course_id}}">
                            <span class="text_blue">LV{{row.l_name}}</span>
                        </a>
                        <div class="modal fade" id="lvmodal{{row.course_id}}" tabindex="-1" role="dialog" aria-labelledby="lpmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document" >
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Unit {{row.subject_id}} - Lecture Video {{row.l_name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <iframe  src="{{row.course_description}}" title="Lecture material" width="100%" height="700" allow="autoplay" ></iframe>
      </div>
    </div>
  </div>
</div><input class='custom-input' type='checkbox' id='check3' name='option3{{loop.index}}' value='10' >`,
          "desc": "{{(row.course_description.html)}}",

            "sess": "<a href='{{row.course_status}}' target='_blank' > DL{{row.l_name}}</a><input class='custom-input' type='checkbox' id='check4' name='option4{{loop.index}}' value='10' >",

        "cid": "{{row.course_id}}",


        "dur": `<input class='custom-input' type='checkbox' id='check5' name='option5{{loop.index}}' value='10' >  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample{{loop.index}}" aria-expanded="false" aria-controls="collapseExample">View DQ{{row.l_name}}</button>
        <div class="collapse" id="collapseExample{{loop.index}}">
  <div class="card card-body">
    <pre style="font-size:17px;" class="font-weight-normal">{{row.course_duration}}</pre>
  </div>
</div>

        `,
          "action": `<input type="submit" name="insert" id="insert{{loop.index}}" value="Insert" class="btn btn-success" formaction="{{url_for('admin_entry_course_change',a=loop.index)}}"/>`,


        "remarks": `<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseRemark{{loop.index}}" aria-expanded="false" aria-controls="collapseExample">Add Remarks</button>
        <div class="collapse" id="collapseRemark{{loop.index}}">
  <div class="card card-body">
    <textarea name="ta{{loop.index}}"></textarea>
  </div>
</div>

        `
    },
    {% endfor %}
    { }
      ];
    $('#subject').bootstrapTable({
      data: data,
      onCreatedControls() {

        $('select.bootstrap-table-filter-control-city').each(function (index, i) {
          i.setAttribute('multiple', 'multiple');
          $(this).find('option[value=""]').remove();
          $(this).multipleSelect('destroy').multipleSelect({
            container: 'body',
            filter: true,
            selectAll: true

          })
        }),

          $('select.bootstrap-table-filter-control-age').each(function (index, i) {
            i.setAttribute('multiple', 'multiple');
            $(this).find('option[value=""]').remove();
            $(this).multipleSelect('destroy').multipleSelect({
              container: 'body',
              filter: true,
              selectAll: true

            })
          })

      },

    })
    console.log($('#subject').find('td').eq(8).text());
    var subject = $('#subject');
    rows = subject.find('tr');
    for (i = 0; i < rows.length; i++) {

      var cells = $(rows[i]).find('td');

      var t = $(cells[8]).text();

      console.log(t);
      setTimeout(() => {
        $(cells[8]).html(t);
      }, 1000);

}

    $('button[name="clearSearch"]').click(function () {
      $('select.bootstrap-table-filter-control-city').multipleSelect('setSelects', [])
      filterData()
    })

    window.filterCities = 0,
      window.filterCities1 = 0

    function customFilter(row, filter) {
      filterCities = filter['cities']
      console.log(filterCities)
      console.log(filterCities1)
      if (filterCities1 == 0 || filterCities1 == []) {
        console.log("1")
        return filterCities.length == 0 || filterCities.includes(row.city)
      }
      else if (filterCities == 0 || filterCities == []) {
        console.log("12")
        return filterCities1.length == 0 || filterCities1.includes(row.age)
      }
      else {
        console.log("2")
        return filterCities1.length == 0 || filterCities1.includes(row.age) && filterCities.includes(row.city) || filterCities.length == 0
      }
    }

    function filterData() {
      $table.bootstrapTable('filterBy', {
        cities: $('select.bootstrap-table-filter-control-city').multipleSelect('getSelects')
      }, {
        'filterAlgorithm': customFilter
      })
    }

    $('select.bootstrap-table-filter-control-city').change(function () {
      filterData()
    })



    $('button[name="clearSearch"]').click(function () {
      $('select.bootstrap-table-filter-control-age').multipleSelect('setSelects', [])
      filterData1()
    })

    function customFilter1(row, filter) {
      filterCities1 = filter['cities1']
      console.log(filterCities)
      console.log(filterCities1)
      if (filterCities == 0 || filterCities == []) {
        console.log("1")
        return filterCities1.length == 0 || filterCities1.includes(row.age)
      }
      else if (filterCities1 == 0 || filterCities1 == []) {
        console.log("12")
        return filterCities.length == 0 || filterCities.includes(row.city)
      }
      else {
        console.log("2")
        return filterCities1.length == 0 || filterCities1.includes(row.age) && filterCities.includes(row.city) || filterCities.length == 0
      }
    }

    function filterData1() {
      $table.bootstrapTable('filterBy', {
        cities1: $('select.bootstrap-table-filter-control-age').multipleSelect('getSelects')
      }, {
        'filterAlgorithm': customFilter1
      })
    }

    $('select.bootstrap-table-filter-control-age').change(function () {
      filterData1()
    })
  </script>
  <script>

    $(document).ready(function () {
      $('#updateForm').on("submit", function (event) {
        event.preventDefault();

        $.ajax({
          url: "/admin/course/change",
          method: "POST",
          data: $('#updateForm').serialize(),

          beforeSend: function () {
            $('#update').val("Updating");
          },
          success: function (data) {
            $('#add_data_Modal').modal('hide');
            if (data == 'success') {
              swal("Data is submitted successfully!",
                "New Course is Created", "success");
              var delayInMilliseconds = 6500; //1 second
              setTimeout(function () {
                window.location.href = "/data_entry/course";
              }, delayInMilliseconds);

            }
            if (data == 'error') {
              console.log('error')
              swal("Data is not Submitted!",
                "Error in submitting Data",
                "error");
              window.location.reload();
            }
          }
        });

      });


      $(document).on('click', '.view_data', function () {
        var course_id = $(this).attr("id");
        $.ajax({
          url: "/admin/course/select",
          method: "POST",
          data: {
            course_id: course_id
          },
          success: function (data) {
            $('#dataModal').modal('show');
            var data_rs = JSON.parse(data);
            $('#course_id').val(data_rs[0]['course_id']);

            $('#subject_name').val(data_rs[0]['subject_name']);
            $('#course_name').val(data_rs[0]['course_name']);
            $('#course_grade').val(data_rs[0]['course_grade']);
            $('#course_duration').val(data_rs[0]['course_duration']);
            $('#no_of_session').val(data_rs[0]['no_of_session']);

            if (data_rs[0]['course_approval_status'] == "approved") {
              console.log(data_rs[0]['approval_status'])


              document.getElementById("coursenot").style.display = "none";

              document.getElementById("courseyes").style.display = "block";


            }
            else {
              console.log(data_rs[0]['course_approval_status'])

              document.getElementById("courseyes").style.display = "none";
              document.getElementById("coursenot").style.display = "block";

            }



            $('#course_approval_status').val(data_rs[0]['course_approval_status']);
            $('#course_description').val(data_rs[0]['course_description'])

            setTimeout(() => {
              console.log('hii');
              console.log($('#course_description').val());
            }, 1000);

            editor = CKEDITOR.replace('course_description');
            editor.setData($('#course_description').val());
            editor.on('change', function (edittor) {

              $('#test').val(edittor.editor.getData());
            });

          }
        });
      });
      $('#dataModal').on('hide.bs.modal', function () {
        editor.destroy()
      });
    });



  </script>



  <div id="dataModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Course Details</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>

        </div>
        <div class="modal-body">
          <div class="table-responsive">
            <form method="post" id="update_form1">
              <table class="table table-bordered">
                <!--                                <input type="hidden" class="form-control" id="course_id" name="course_id">-->
                <tr>
                  <td width="30%"><label>Subject Name</label></td>
                  <td width="70%"><input type="text" class="form-control" id="subject_name" disabled></td>
                </tr>
                <tr>
                  <td width="30%"><label>Course Name</label></td>
                  <td width="70%"><input type="text" class="form-control" name="course_name" id="course_name"></td>
                </tr>
                <tr>
                  <td width="30%"><label>Course Grade</label></td>
                  <td width="70%"><select type="number" class="form-control" name="course_grade" id="course_grade">
                      <option value="1">I</option>
                      <option value="2">II</option>
                      <option value="3">III</option>
                      <option value="4">IV</option>
                      <option value="5">V</option>
                      <option value="6">VI</option>
                      <option value="7">VII</option>
                      <option value="8">VIII</option>
                      <option value="9">IX</option>
                      <option value="10">X</option>
                      <option value="11">XI</option>
                      <option value="12">XII</option>
                    </select>


                  </td>
                </tr>
                <tr>
                  <td width="30%"><label>Course Duration</label></td>
                  <td width="70%"><input type="number" class="form-control" name="course_duration" id="course_duration">
                  </td>
                </tr>
                <tr>
                  <td width="30%"><label>No of Sessions</label></td>
                  <td width="70%"><input type="number" class="form-control" name="no_of_session" id="no_of_session">
                  </td>
                </tr>
                <tr>
                  <td width="30%"><label>Course Approval Status</label></td>
                  <td width="70%">
                    <span id="courseyes" style="display: block;" class="badge badge-success">Course already
                      approved</span>
                    <span id="coursenot" style="display: block;" class="badge badge-danger">Course not yet
                      approved</span>
                    <br>
                    <select name="course_approval_status" style="visibility: visible;" id="course_approval_status"
                      class="form-control">
                      <option value="approved">Approve</option>
                      <option value="decline">Decline</option>


                    </select>
                  </td>


                </tr>
                <!--                                <tr>-->
                <!--                                    <td width="30%"><label>Course Approval Status</label></td>-->
                <!--                                    <td width="70%">-->
                <!--                                        <span id="status" style="display: block;" class="badge badge-danger">Course is Not Approved or Rejected</span>-->
                <!--                                    <select name="status" style="visibility: visible;"  id="Select" class="form-control">-->
                <!--                                        <option value="open">Approve</option>-->
                <!--                                        <option value="close">Decline</option>-->
                <!--                                </select>-->
                <!--                                        </td>-->
                <!--                                </tr>-->

                <tr>
                  <td width="30%"><label>Course Description ..!</label></td>
                  <td width="70%"><textarea class="form-control" name="course_description"
                      id="course_description"></textarea>
                  </td>
                  <!--                                    <textarea id="demo"></textarea>-->
                </tr>
                <tr>
                  <td width="30%"><label hidden>test ..!</label></td>
                  <td width="70%"><input type="hidden" class="form-control" name="test" id="test"></input>
                  </td>
                  <!--                                    <textarea id="demo"></textarea>-->
                </tr>
              </table>
              <div class="modal-footer">
                <input type="submit" name="update" id="update" value="Update" class="btn btn-success" />
                <button type="button" class="btn btn-info" onclick="fieldclear('update_form')"
                  data-dismiss="modal">Close</button>
            </form>
          </div>

        </div>
      </div>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <script>
        swal("{{message}}", "Course Deleted Successfully !", "success");
      </script>
      {% endfor %}
      {% endif %}
      {% endwith %}

      <script>






      </script>
</body>

</html>